* {
    padding: 0;
    margin: 0;

}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bg_new.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.box {
    height: 80vh;
    background-color: black;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;

}

nav {
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    margin: auto;

}

.lang {
    background-color: rgba(42, 38, 38, 0.551);
    border: 2px solid white;
    padding: 6px 30px;
    border-radius: 5px;
    color: white;
    z-index: 10;
    position: relative;
    text-align: center;
}
.lang svg{
    top: 15px;
}

.signin {
    background-color: rgb(242, 4, 16);
    position: relative;
    border: 2px solid white;
    padding: 9px 30px;
    border-radius: 5px;
    color: white;
    z-index: 10;
}

nav img {
    padding: 6px;
    z-index: 10;
    position: relative;

}

.content {
    color: white;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 10;
    gap: 10px;
    height: calc(100% - 62px);
    font-family: sans-serif;
    padding: 0 30px;


}

.content h1 {
    font-size: -webkit-xxx-large;
    font-weight: 900;
}

.content p {

    font-weight: 700;
}

.input input {
    background-color: rgba(0, 0, 0, 0.552);
    color: white;
    border-radius: 4px;
    padding: 15px 15px 15px 5px;
    font-size: large;
    margin: 6px 2px;
    font-family: sans-serif;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.441);

}

.input button {
    background-color: rgba(229, 9, 20, 0.886);
    color: white;
    border-radius: 4px;
    padding: 15px 40px;

    font-size: large;
    font-family: sans-serif;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.441);

}

.seperation {
    height: 8px;
    background-color: rgba(62, 59, 59, 0.833);
    z-index: 11;
position: relative;
}

.first {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.ftxt {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
}

.ftxt :nth-child(1) {
    font-family: sans-serif;
    font-weight: 700;
    font-size: xx-large;

}

.ftxt :nth-child(2) {
    font-family: sans-serif;
    font-weight: 400;
    font-size: large;

}

.secimage {
    width: 31vw;
    position: relative;
    z-index: 10;
    
}
.secimage img{
    z-index: 10;
    position: relative;
}
.secimage video{
    position: absolute;
position: absolute;
    top: 97px;
    left: 84px;
}
.faq h2{
    color: white;
    text-align: center;
    padding: 21px;
    font-family: sans-serif;
}
.faqbox {
    background-color: #2d2d2d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    gap: 15px;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 600;
    max-width: 60vw;
    margin: 24px auto;
    border-radius: 2px;
}
.faqbox:hover{
    background-color: rgb(31, 31, 31);
}
footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
